<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Modificate Phone </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <label for="" >Number:</label>
                        <input [(ngModel)]="phone.phonenumber" name="phonenumber" type="text" class="form-control" style="text-align: center;" placeholder="00 00 00 00" >
                        <br>
                        <label for="" >Area Code:</label>
                        <input [(ngModel)]="phone.phoneareacode" name="phoneareacode" type="text" class="form-control" style="text-align: center;" placeholder="+000" >
                        
                    </div>
                    <button (click)="update(phone)" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>