<div class="wrapper"></div>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Ads</h3>
        </div>
        <div class="card-body">
            <div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button>
            </div>
            <br>
            <table class="table table-hover" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                    <th>Id</th>
                    <th >Text Ad</th>   
                    <th>Functions</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ad of ads" class="text-center">
                        <td>{{ ad.idad }}</td>
                        <td>{{ ad.adtext }}</td>
                        <td>
                            <button (click) = "edit(ad)" class="btn btn-dark">Edit</button>
                            <button (click) = "delete(ad)" class="btn btn-secondary" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>