<div class="wrapper"></div>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Phones</h3>
        </div>
        <div class="card-body">
            <div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button>
                 <button (click) = "add()" class="btn btn-info" style="margin-left: 10px;">New</button> 
            </div> 
            <br>
            <table class="table table-hover" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>    
                    <th >Id</th>
                    <th >Number</th>
                    <th>Area Code</th>  
                    <th>Seller Id</th>  
                    <th>Functions</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let po of pho" class="text-center">
                        <td  >{{ po.idphone }}</td>
                        <td>{{ po.phonenumber }}</td>
                        <td>{{ po.phoneareacode }}</td>
                        <td>{{ idsell }}</td>
                        <td>
                            <button (click) = "edit(po)" class="btn btn-dark">Edit</button>
                            <button (click) = "delete(po)" class="btn btn-secondary" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>