<div class="wrapper"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">All Products</h3>
        </div>
        <div class="card-body">
            <div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button>
            </div> 
            <br>
            <table class="table table-hover" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                    <th >Id</th>
                    <th >Name</th>
                    <th>Description</th>  
                    <th>Unit Cost</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let q of allpro" class="text-center">
                        <td  >{{ q.idproduct}}</td>
                        <td>{{ q.productname }}</td>
                        <td>{{ q.productdescription }}</td>
                        <td>{{ q.productunitcost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container ">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">New Car</h3>
            <div style="text-align: center;" class="alert alert-warning" *ngIf='loginEmpty'>{{emptyMessage}}</div>
            <div style="text-align: center;" class="alert alert-warning" *ngIf='error'>{{errorMessage}}</div>
        </div>
        <div class="card-body" style="text-align: right;">
            
            <form action="">
                <div class="form-group" style="text-align: center;">
                    <label for="productid" >Id Product:</label>
                    <input #productid type="number" name="productid" class="form-control" style="text-align: center;" placeholder="Id product" >
                    <br>
                    <label for="amount" >Amount:</label>
                    <input #amount name="amount" type="number" class="form-control" style="text-align: center;" placeholder="######" >
                </div>
                <div style="text-align: center;"> 
                <button (click)="create(productid.value,amount.value)" class="btn btn-success">Add</button></div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3  style="text-align: center;">Car</h3>
        </div>
        <div class="card-body">
            <br>
            <table class="table table-hover" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                    <th >Id Product</th> 
                    <th>Amount</th> 
                       <th>Cost</th>
                    <th>Functions</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let r of order" class="text-center">
                        <td>{{ r.productidproduct }}</td>
                        <td>{{ r.producthasrequestamount }}</td>
                        <td>{{ r.total }}</td>
                        <td><button (click) = "edit(r)" class="btn btn-dark">Edit</button>
                            <button (click) = "delete(r)" class="btn btn-secondary" style="margin-left: 10px;">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>






<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Total Amount To Cancel: Q.{{cost}}</h3>
        </div>
    </div>
</div>  