<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">New Phone </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <label for="phonenumber" >Number:</label>
                        <input #phonenumber type="number" name="phonenumber" class="form-control" style="text-align: center;" placeholder="00 00 00 00" >
                        <br>
                        <label for="phoneareacode" >Area Code:</label>
                        <input #phoneareacode  name="phoneareacode" type="text" class="form-control" style="text-align: center;" placeholder="+000" >
                        
                    </div>
                    <button (click)="save(phonenumber.value,phoneareacode.value)" class="btn btn-danger">Save</button>
                </form>
            </div>
        </div>
    </div>