<div class="wrapper"></div>

<div class="container ">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Modificate Car </h3>
            <br>
            <div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button>
            </div>
        </div>
        <div class="card-body" style="text-align: right;">
            <form action="">
                <div class="form-group" style="text-align: center;">
                    <label for="" >Id Product:</label>
                    <input [(ngModel)]="order.productidproduct" name="order.productidproduct" type="number" class="form-control" style="text-align: center;" placeholder="Id product" >
                    <br>
                    <label for="" >Amount:</label>
                    <input [(ngModel)]="order.producthasrequestamount" name="order.producthasrequestamount" type="number" class="form-control" style="text-align: center;" placeholder="amount" >
                </div>
                <button (click)="update(order)" class="btn btn-danger">Update</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">All Products</h3>
        </div>
        <div class="card-body">
            
            <br>
            <table class="table table-hover" style="text-align: center;">
                <thead>
                    <tr>
                    <th >Id</th>
                    <th >Name</th>
                    <th>Description</th>  
                    <th>Unit Cost</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let q of allpro" class="text-center">
                        <td  >{{ q.idproduct}}</td>
                        <td>{{ q.productname }}</td>
                        <td>{{ q.productdescription }}</td>
                        <td>{{ q.productunitcost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


