<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Modificate Product </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <label for="" >Name:</label>
                        <input [(ngModel)]="produc.productname" name="produc.productname" type="text" class="form-control" style="text-align: center;" placeholder="product´s name" >
                        <br>
                        <label for="" >Description:</label>
                        <input [(ngModel)]="produc.productdescription" name="produc.productdescription" type="text" class="form-control" style="text-align: center;" placeholder="product´s description" >
                        <br>
                        <label for="" >Unit Cost:</label>
                        <input [(ngModel)]="produc.productunitcost" name="produc.productunitcost" type="text" class="form-control" style="text-align: center;" placeholder="unit cost" >
                    </div>
                    <button (click)="update(produc)" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>