<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Modificate Ad </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <label for="" >Text:</label>
                        <input [(ngModel)]="ad.adtext" name="adtext" type="text" class="form-control" placeholder="ad text" style="text-align: center;" >
                    </div>
                    <button (click)="update(ad)" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>  
    </div>  