<div class="wrapper"></div>
<div class="container">
<div class="card">
    <div class="card-header">
    <h3 style="text-align: center;">Home</h3></div>
    <div class="card-body">
            <div style="text-align: center;"> <button (click)="Logout()" class="btn btn-danger" >Logout</button>
            </div>
            <div class="card-body">
                <table class="table table-hover" style="text-align: center;">
                    <thead class="thead-dark">
                        <tr>
                        <th >Ads</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ad of ads" class="text-center">
                            <td>{{ ad.adtext }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    <table class="table table-hover" style="text-align: center;">
    <thead class="thead-dark">     
    <tr>
    <th>Options</th>
    <th>Functions</th>
    </tr>
    </thead>
    <tbody>
    <tr  class="text-center">
    <td>Sales Cart</td> 
    <td>    
    <button (click) = "Cart()" class="btn btn-success" style="margin-left: 10px;">Go</button></td> 
    </tr>
    <tr>
    <td>My Requests</td>
    <td><button (click) = "ShowRequest()" class="btn btn-dark">Show</button>
    <button (click) = "NewRequest()" class="btn btn-secondary" style="margin-left: 10px;">New</button></td>
    </tr>
    <tr>
        <td>Profile</td>
        <td>
                        <button (click)="Phone()" class="btn btn-info">Phone</button>
                        <button (click)="Profile()" class="btn btn-dark" style="margin-left: 10px;" >Edit</button>
        </td>
        </tr>
                         
</tbody>
</table>
</div>
</div>
</div>