<div class="wrapper"></div>
<div class="container col-md-8">    
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Modificate Seller </h3>
            </div>  
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <div class="alert alert-warning" *ngIf='LoginEmpty'>{{emptyMessage}}</div>
                        <label for="" >Name:</label>
                        <input [(ngModel)]="sell.sellername" name="sellername" type="text" class="form-control" style="text-align: center;" placeholder="seller´s name" >
                        <br>
                        <label for="" >Surname:</label>
                        <input [(ngModel)]="sell.sellersurname" name="sellersurname" type="text" class="form-control" style="text-align: center;" placeholder="seller´s surname" >
                        <br>
                        <label for="" >Birthdate:</label>
                        <input [(ngModel)]="sell.sellerbirthdate" name="sellerbirthdate" type="date" class="form-control" style="text-align: center;" placeholder="Year-Month-Day" >
                        <br>
                        <label for="" >Email:</label>
                        <input [(ngModel)]="sell.selleremail" name="selleremail" type="text" class="form-control" style="text-align: center;" placeholder="seller@email.com" >
                        <br>
                        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                        <div class="alert alert-warning" *ngIf='differentpass'>{{differentMessage}}</div>
                        <label for="" >Password:</label>
                        <input [(ngModel)]="sell.sellerpassword" name="sellerpassword" type="password" class="form-control" style="text-align: center;" placeholder="seller´s password" >
                        <br>
                        <label for="confirmpassword" >Confirm Password:</label>
                        <input  #confirmpassword name="confirmpassword" type="password" class="form-control" style="text-align: center;" placeholder="seller´s password">
                        <br>
                        <label for="">Delivery Address:</label>
                        <input [(ngModel)]="sell.sellerdeliveryaddress" name="sellerdeliveryaddress" type="text" class="form-control" style="text-align: center;" placeholder="Delivery Address" >
                        <br>
                        
<div class="alert alert-danger" *ngIf='conditionIncorrect'>{{conditionMessage}}</div>
<label for="" >Condition:</label>
<input [(ngModel)]="sell.sellercondition" name="sellercondition" type="text" class="form-control" style="text-align: center;" placeholder="active / inactive" >

                    </div>
                    <button (click)="update(sell,confirmpassword.value)" class="btn btn-success">Update</button>
                    <button (click)="back()" class="btn btn-danger" style="margin-left: 10px;">Back</button>
                </form>
            </div>
        </div>
    </div>  