<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">New Product </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <div class="alert alert-warning" *ngIf='LoginEmpty'>{{emptyMessage}}</div>
                        <label for="productname" >Name:</label>
                        <input #productname type="text" name="productname" class="form-control" style="text-align: center;" placeholder="product´s name" >
                        <br>
                        <label for="productdescription" >Description:</label>
                        <input #productdescription name="productdescription" type="text" class="form-control" style="text-align: center;" placeholder="product´s description" >
                        <br>
                        <label for="productunitcost" >Unit Cost:</label>
                        <input #productunitcost name="productunitcost" type="text" class="form-control" style="text-align: center;" placeholder="product´s cost" > 
                    </div>
                    <button (click)="save(productname.value,productdescription.value,productunitcost.value)" class="btn btn-success">Save</button>
                    <button (click)="back()" class="btn btn-danger" style="margin-left: 10px;" >Back</button>
                </form>
            </div>
        </div>
    </div>  