<div class="wrapper"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Products</h3>
        </div>
        <div class="card-body">
            <div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button>
            </div> 
            <br>
            <table class="table table-hover" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                    <th >Id</th>
                    <th >Name</th>
                    <th>Description</th>  
                    <th>Unit Cost</th> 
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let o of products" class="text-center">
                        <td  >{{ o.idproduct}}</td>
                        <td>{{ o.productname }}</td>
                        <td>{{ o.productdescription }}</td>
                        <td>{{ o.productunitcost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  


<div class="container">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Car</h3>
            </div>
            <div class="card-body">
                <br>
                <table class="table table-hover" style="text-align: center;">
                    <thead class="thead-dark">
                        <tr>
                        <th >Id Product</th> 
                        <th>Amount</th> 
                        <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr *ngFor="let r of order" class="text-center">
                            <td>{{ r.productidproduct }}</td>
                            <td>{{ r.producthasrequestamount }}</td>
                            <td>{{ r.total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center;">Total Amount To Cancel: Q.{{Cost}}</h3>
                </div>
            </div>
    </div>