<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">New Request </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <div class="alert alert-warning" *ngIf='LoginEmpty'>{{emptyMessage}}</div>
                        <label for="name" >Name:</label>
                        <input #name type="text" name="name" class="form-control" style="text-align: center;" placeholder="request´s name" >
                        <br>
                        <label for="date" >Date:</label>
                        <input #date name="date" type="date" class="form-control" style="text-align: center;" placeholder="year/month/day" >
                        <br>
                    </div>
                    <button (click)="save(name.value,date.value)" class="btn btn-danger">Save</button>
                    <button (click)="back()" class="btn btn-danger" style="margin-left: 10px;">Back</button>
                </form>
            </div>
        </div>
    </div>