<div class="wrapper"></div>
<div class="container">
<div class="card">
<div class="card-header">
<h3 style="text-align: center;">Requests</h3></div>
<div class="card-body">
<div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button></div>
<br>
<table class="table table-hover" style="text-align: center;">
<thead class="thead-dark"> 
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Date</th>  
    <th>Id Seller</th>
    <th>Functions</th>
    </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let Request of Requests" class="text-center">
    <td >{{ Request.idrequest }}</td>
    <td>{{ Request.requestname }}</td>  
    <td>{{ Request.requestdate }}</td>
    <td>{{ Request.sellidseller }}</td>
    <td>
    <button (click) = "prod(Request)" class="btn btn-secondary" style="margin-left: 10px;">Add Products</button>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
</div>