
<div class="wrapper"></div>
<div class="card-header">
        <h1 style="text-align: center;">Login Admin </h1>
    </div>
<div class="container col-md-5">
    <br>  
    <div class="card">  
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="alert alert-warning" *ngIf='loginEmpty'>{{emptyMessage}}</div>
          <div class="form-group">
            <label for="email">UserName :</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter username"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
              name="password">
          </div>
          <div style="text-align: right;">
          <button (click)=handleLogin(username,password)  class="btn btn-success">Login</button></div>
        </form>
      </div>
    </div>
  </div>