<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">New Seller </h3>
            </div>  
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <div class="alert alert-warning" *ngIf='LoginEmpty'>{{emptyMessage}}</div>
                        <label for="sellername" >Name:</label>
                        <input #sellername type="text" name="sellername" class="form-control" style="text-align: center;" placeholder="seller´s name" >
                        <br>
                        <label for="sellersurname" >Surname:</label>
                        <input #sellersurname  name="sellersurname" type="text" class="form-control" style="text-align: center;" placeholder="seller´s surname" >
                        <br>
                        <label for="sellerbirthdate" >Birthdate:</label>    
                        <input #sellerbirthdate name="sellerbirthdate" type="date" class="form-control" style="text-align: center;" placeholder="Year-Month-Day" >
                        <br>
                        <label for="selleremail" >Email:</label>
                        <input #selleremail name="selleremail" type="text" class="form-control" style="text-align: center;" placeholder="seller@email.com" >
                        <br>
                        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                        <div class="alert alert-warning" *ngIf='differentpass'>{{differentMessage}}</div>
                        <label for="sellerpassword" >Password:</label>
                        <input #sellerpassword name="sellerpassword" type="password" class="form-control" style="text-align: center;" placeholder="seller´s password" >
                        <br>
                        <label for="confirmpassword" >Confirm Password:</label>
                        <input  #confirmpassword name="confirmpassword" type="password" class="form-control" style="text-align: center;" placeholder="seller´s password">
                        <br>
                        <label for="sellerdeliveryaddress" >Delivery Address:</label>
                        <input  #sellerdeliveryaddress name="sellerdeliveryaddress" type="text" class="form-control" style="text-align: center;" placeholder="Delivery Address" >
                        <br>
                        <div class="alert alert-danger" *ngIf='conditionIncorrect'>{{conditionMessage}}</div>
                        <label for="sellercondition" >Condition:</label>
                        <input #sellercondition name="sellercondition" type="text" class="form-control" style="text-align: center;" placeholder="active / inactive" >

                    </div>
                    <button (click)="save(sellername.value,sellersurname.value,sellerbirthdate.value,selleremail.value,sellerpassword.value,sellerdeliveryaddress.value,sellercondition.value,confirmpassword.value)" class="btn btn-success">Save</button>
                    <button (click)="back()" class="btn btn-danger" style="margin-left: 10px;" >Back</button>
                </form> 
            </div>  
        </div>
    </div>