<div class="wrapper"></div>


<div class="container">
<div class="card">
<div class="card-header">
<h3 style="text-align: center;">Sellers</h3></div>
<div class="card-body">
<div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button></div>
<br>
<table class="table table-hover" style="text-align: center;">
<thead class="table-dark"> 
    <tr>
    <th>Id</th> 
    <th>Name</th>
    <th>Surname</th>  
    <th>Email</th>
                    <th>Birthdate</th>
                    <th>Password</th>
                    <th>Delivery Address</th>
                    <th>State</th>
                    <th>Functions</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let Seller of Sellers" class="text-center">
                        <td >{{ Seller.idseller }}</td>
                        <td>{{ Seller.sellername }}</td>
                        <td>{{Seller.sellersurname}}</td>
                        <td>{{Seller.selleremail}}</td>
                        <td>{{Seller.sellerbirthdate}}</td>
                        <td>{{Seller.sellerpassword}}</td>
                        <td>{{Seller.sellerdeliveryaddress}}</td>
                        <td>{{Seller.sellercondition}}</td>
                        <td>

                                <div class="btn-group" role="group" aria-label="Basic example">
                                        <button (click) = "edit(Seller)" type="button" class="btn btn-dark btn-sm">Edit</button>
                                        <button (click) = "delete(Seller)" type="button" class="btn btn-secondary btn-sm">Delete</button>
                                        <button (click) = "phone(Seller)" type="button" class="btn btn-dark btn-sm">Phone</button>
                                        <button (click) = "req(Seller)" type="button" class="btn btn-secondary btn-sm">Request</button>
                                      </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>