<div class="wrapper"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
        <h3 style="text-align: center;">Profile</h3></div>
        <div class="card-body">
                <div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button>
                </div>
                <br>
        <table class="table table-hover" style="text-align: center;">
        <thead class="thead-dark">     
        <tr>
        <th>College</th>
        <th>Name</th>
        <th>Carnet</th>
        <th>Course</th>
        </tr>
        </thead>
        <tbody>
        <tr  class="text-center">
        <td>Mariano Gálvez of Guatemala</td>
        <td>Luis Diego Cáceres García</td> 
        <td>3190-18-3435</td>   
        <td>Programación 2</td>
        </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
