<div class="wrapper"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 style="text-align: center;">Products</h3>
        </div>
        <div class="card-body">
            <div style="text-align: center;"> <button (click)="back()" class="btn btn-danger" >Back</button>
            </div> 
            <br>
            <table class="table table-hover" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                    <th >Id</th>
                    <th >Name</th>
                    <th>Description</th>  
                    <th>Unit Cost</th>
                    <th>Functions</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let p of products" class="text-center">
                        <td  >{{ p.idproduct}}</td>
                        <td>{{ p.productname }}</td>
                        <td>{{ p.productdescription }}</td>
                        <td>{{ p.productunitcost }}</td>
                        <td>
                            <button (click) = "edit(p)" class="btn btn-dark">Edit</button>
                            <button (click) = "delete(p)" class="btn btn-secondary" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>