<div class="wrapper"></div>

<div class="card text-white bg-secondary mb-3">
  <div class="card-header">
    <div style="text-align: center;">
      <h1>Project Program</h1>
      </div>
      <div class="container" style="text-align: center;">
        <br>
        <div class="card-body">
      <button (click)="LogAdmin()" class="btn btn-primary">Log Admin</button>
      <button (click)="LogSell()" class="btn btn-primary" style="margin-left: 40px;">Log Seller</button>
      </div>
      <div></div>
      </div>
  </div>
</div>






