

<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">New Ads </h3>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <label for="adtext"> Text:</label>
                        <input #adtext type="text" class="form-control" style="text-align: center;" placeholder="ad text">
                    </div>
                    <div style="text-align: right;">
                    <button (click)="save(adtext.value)" class="btn btn-success" >Save</button>
                    <button (click)="back()" class="btn btn-danger" style="margin-left: 10px;" >Back</button>
                </div>
                </form>
            </div>
        </div>
    </div>  