<div class="wrapper"></div>
<div class="container">
<div class="card">
    <div class="card-header">
    <h3 style="text-align: center;">Options</h3></div>
    <div class="card-body">
            <div style="text-align: center;"> <button (click)="Logout()" class="btn btn-danger" >Logout</button>
            </div>
            <br>
    <table class="table table-hold" style="text-align: center;">
    <thead class="thead-dark">     
    <tr>
    <th>Table</th>
    <th>Functions</th>
    </tr>
    </thead >
    <tbody>
    <tr  class="text-center">
    <td>Seller</td>
    <td>    
    <button (click) = "ShowSell()" class="btn btn-dark">Show</button>
    <button (click) = "NewSell()" class="btn btn-secondary" style="margin-left: 10px;">New</button></td> 
    </tr>
    <tr>
    <td>Product</td>
    <td><button (click) = "ShowProduct()" class="btn btn-dark">Show</button>
    <button (click) = "NewProduct()" class="btn btn-secondary" style="margin-left: 10px;">New</button></td>
    </tr>
    <tr><td>Ad</td>
    <td>
            <button (click) = "ShowAd()" class="btn btn-dark">Show</button>
            <button (click) = "NewAd()" class="btn btn-secondary" style="margin-left: 10px;">New</button>
    </td></tr>
    <tr>
        <td>Profile</td>
        <td><button (click) = "Profile()" class="btn btn-success">Go</button>
        </td>
        </tr>
                         
</tbody>
</table>
</div>
</div>
</div>