<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Modificate Request </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <div class="alert alert-warning" *ngIf='LoginEmpty'>{{emptyMessage}}</div>
                        <label for="" >Name:</label>
                        <input [(ngModel)]="req.requestname" name="requestname" type="text" class="form-control" style="text-align: center;" placeholder="request´s name" >
                        <br>
                        <label for="" >Date:</label>
                        <input [(ngModel)]="req.requestdate" name="requestdate" type="date" class="form-control" style="text-align: center;" placeholder="year/month/day" >
                        <br>
                    </div>
                    <button (click)="update(req)" class="btn btn-danger">Update</button>
                    <button (click)="back()" class="btn btn-danger" style="margin-left: 10px;">Back</button>
                </form>
            </div>
        </div>
    </div>